<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Express and Webpack App</title>
    <link rel="shortcut icon" href="#">
    
</head>
<body>
    <h1>Expack</h1>
    <p class="description">Express and Webpack Boilerplate App</p>123
    <div ng-app="myApp" ng-controller="myController">{{data.name}}</div>
</body>

<script>
    angular.module('myApp', []);
    angular.module('myApp').controller('myController', function($scope){
        $scope.data = {
            name:'somenamexxx'
        }

    })
</script>
</html>